{% load static %}

<html>

<!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>-->
<!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>-->

<head>

    <!--<link rel="stylesheet"-->
          <!--href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"-->
          <!--integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"-->
          <!--crossorigin="anonymous">-->

    <!--<link rel="stylesheet" href="{% static 'css/styles.css' %}">-->

    {% if title %}
        <title>Django tutorial - {{title}}</title>
    {% else %}
        <title>Django blog</title>
    {% endif %}
</head>
<body>

    <div class = "container">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
        {% endif %}

        {%block content%}
        {% endblock %}





     <!--<nav aria-label="...">-->
      <!--<ul class="pagination">-->

        <!--<li class="page-item {% if not prev_page %}disabled{% endif %}">-->
          <!--<a class="page-link" href="{{prev_page}}" aria-disabled="true">Previous</a>-->
        <!--</li>-->

        <!--{% for n in page_obj.paginator.page_range %}-->

            <!--{% if posts.number == n %}-->

                 <!--<li class="page-item active">-->
              <!--<a class="page-link" href="?page={{n}}">{{n}} <span class="sr-only">(current)</span></a>-->
            <!--</li>-->

            <!--{% elif n > page_obj.number|add:-3 and n < page_obj.number|add:+3 %}-->

                <!--<li class="page-item"><a class="page-link" href="?page={{n}}">{{ n }}</a></li>-->

            <!--{% endif %}-->

          <!--{% endfor %}-->

        <!--<li class="page-item {%if not next_page %}disabled{% endif %}">-->
          <!--<a class="page-link" href="{{next_page}}">Next</a>-->
        <!--</li>-->
      <!--</ul>-->
    <!--</nav>-->
    </div>






     <div>
          <div class="admin-panel align-items-center">
        <a href ="/admin" class="btn btn-info">Admin</a>
        <a class="nav-link" href="{% url 'blog-home' %}">Home</a>


    {% if request.user.is_authenticated and request.user.is_staff %}

           {% if not post %}

                <div class="btn-group" >
                    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Create
                    </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item post_cr" href="{% url 'post_create' %}">Post</a>
                    <a class="dropdown-item tag_cr" href="{% url 'tag_create' %}">Tag</a>
                  </div>
                </div>
            {% endif %}

            <div>
                {% if post %}
                <a href="{{ post.get_update_url}}" class="btn btn-light update">Update</a>
                <a href="{{ post.get_delete_url }}" class="btn btn-danger delete">Delete</a>
                {% endif %}
            </div>


            </div>
        </div>



    {% endif %}





</body>
</html>